.navbar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 100vw;
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto; 
}

.link{
    margin-right: 20px;
}